:global {
    html {
        box-sizing: border-box;
        font-family: "Montserrat", helvetica, arial, sans-serif;
        height: 100%;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    html,
    body,
    #root {
        height: 100%;
        background-color: #2CA4AB;
    }
}

.app {
    color: white;
    h1 {
        font-size: 36px;
    }
}

.github {
    position: absolute;
    right: 14px;
    top: 10px;
    &:hover {
        & path {
            fill: green;
        }
    }
}