@import '../utils/reset.scss';
:global {
    html {
        box-sizing: border-box;
        font-family: "Montserrat", helvetica, arial, sans-serif;
        height: 100%;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    html,
    body,
    #root {
        height: 100%;
    }
}

.app {
    color: black;
    h1 {
        font-size: 36px;
    }
}

.header {
    background-color: #009faa;
    background: url('../images/background.jpg') center center no-repeat;
    background-size: cover;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.version {
    color: white;
    position: absolute;
    right: 61px;
    top: 21px;
    font-weight: bold;
    &:hover {
        color: green;
    }
}

.github {
    position: absolute;
    right: 14px;
    top: 10px;
    &:hover {
        & path {
            fill: green;
        }
    }
}