{
	"presets": [
		"es2015",
		"stage-2",
		"react"
	],
	"plugins": [
		"react-hot-loader/babel",
		"transform-react-require"
	],
	"env": {
		"production": {
			"presets": [
				"es2015",
				"stage-2",
				"react"
			],
			"plugins": [
				"transform-react-require"
			]
		},
		"test": {
			"presets": [
				"es2015",
				"stage-2",
				"react"
			],
			"plugins": [
				"transform-react-require"
			]
		}
	}
}