{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "strict": 0,
		"global-require" : 0
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "expect": true,
    "browser": true,
    "sinon": true,
    "document": true
  },
  "env": {
    "mocha": true,
    "amd": true
  }
}