{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "strict": 0,
    "import/first": 0,
    " no-confusing-arrow": 0,
    "react/react-in-jsx-scope": 0,
    "no-multi-assign": 0
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": ["react", "jest"],
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "ga": true,
    "Raven": true,
    "mixpanel": true,
    "expect": true,
    "document": true, 
    "window": true, 
    "browser": true,
    "FB": true,
    "sinon": true,
    "jest": true
  },
  "env": {
    "mocha": true,
    "amd": true
  }
}
