@import '../../styles/variables.scss';

.container{
}
.tabs{
  padding: 0;
  text-align: center;

  & > :global(li){
    display: inline;

    & > :global(a){
      display: inline-block;
      padding: 10px 15px;
      outline: none;
      cursor: pointer;
      box-sizing: border-box;
      color: $brand-primary;
      font-size: 1.15rem;

      &:hover{
        background: #f1f1f1;
      }
    }
  }
}
.underline{
  border-color: $brand-primary;
  transition: .3s ease-in-out;
  margin-left: 0px;
  margin-top: 0px;
}
