.list{
  padding-left: 0px;

  &.bordered{
    border: 1px solid #777;
  }
}

.item{
  color: #777;
  list-style-type: none;

  .icon{
    margin-right: 16px;
  }

  .link{
    padding: 10px 15px;
    text-decoration: none;
    color: #777;
    display: block;
    cursor: pointer;
    position: relative;

    &:hover{
      background: #f5f5f5;
      color: #333;
    }
  }

  &.divider{
    border-top: 1px solid lighten(#777, 30%);
  }
}

.menu{
  height: 0px;
  transition: 0.5s height;
  overflow: hidden;

  .link{
    padding-left: 35px;
  }

  &.menuOpen{
    height: auto;
  }
}

.menuIcon{
  position: absolute;
  right: 15px;
}
