.nav{
  border-bottom: 1px solid rgba(0,0,0,0.12);
  height: 50px;

  &.fixed{
    position: fixed;
    left: 0px;
    right: 0px;
  }

  &.scrolled{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  }
}

.container{
  padding: 0 15px;

  .nav{
    margin: 0;
    padding: 0;
    float: left;

    &.right{
      float: right;
    }

    & > :global(li){
      display: inline-block;
      margin: 15px 10px;

      & > :global(button){
        margin-top: -10px;
      }
    }
  }
}
